link(rel="stylesheet" href="index.css")
script(src="../../bower_components/requirejs/require.js")
script(src="../page/config.js")
script.
    require(['underscore', 'src/new-page/index'], function (_, index) {
        index.init()
    })
