doctype html
html
    head
        meta(charset="utf-8")
        title test
        link(rel="stylesheet" href="test.css")
    body
        //div
        //    h1 this is title
        //    p
        //        span 1
        //        span 2
        //ul
        //    li A
        //    li B
        //    li C

        div.page2

        script(src="../../bower_components/requirejs/require.js")
        script(src="../../src/page/config.js")
        // startup
        script.

            require(['test/document-grab/test'], function (test) {
                test.init()
            })