doctype html
html
    head
        title 视图比较系统
        meta(charset="utf-8")
        link(rel="stylesheet" href="index.css")
    body
        div.everything
            div.page-before
                span.add-box add box
                span This is spanB
            div.page-after
                include part-after
