doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet" href="index.css")
    body
        div
            h1 字体
            div 颜色 color
            div 字号 font-size
        div
            h1 边框
            div(style="border: 1px solid red;") 颜色 border-color
            div(style="border: 2px solid black;") 边宽 border-size

        //div.login
        //    h1 Login
        //    div
        //        label 登录
        //        input(type="text" value="account")
        //    div
        //        label 密码
        //        input(type="password" value="password")

